#root {
	display: flex;
	justify-content: center;
}

.App-container {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1440px;
	font-size: calc(10px + 2vmin);
	color: white;
	background-color: #282c34;
	padding: 0 20px;
}

.logos {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

.react-logo {
	height: 5vmin;
	pointer-events: none;
}

.node-logo {
	height: 4vmin;
	pointer-events: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-links {
	display: flex;
	justify-content: center;
	column-gap: 40px;
}

.profile-link {
	height: 4vmin;
}

.description {
	display: flex;
	margin: 40px 0;
	position: relative;
	border-bottom: white 2px solid;
}

.welcome {
	width: 60%;
}

@media screen and (max-width: 880px) {
	.welcome {
		width: 50%;
	}
}

.react {
	color: #61dafb;
	font-size: 1.5em;
}

.node {
	color: #8cc84b;
	font-size: 1.5em;
}

p {
	margin: 0;
	border-bottom: #8cc84b 2px solid;
	border-top: #61dafb 2px solid;
	padding-bottom: 8px;
	margin-bottom: 40px;
	width: fit-content;
}

.developer-img {
	position: absolute;
	border-radius: 20px;
	border: 1px solid white;
	top: 0;
	right: 0;
}

@media screen and (max-width: 700px) {
	nav {
		flex-direction: column;
		justify-content: center;
		row-gap: 20px;
	}
	.nav-links {
		column-gap: 50px;
	}
	.react-logo {
		height: 10vmin;
	}
	.node-logo {
		height: 8vmin;
	}
	.profile-link {
		height: 6vmin;
	}
	.developer-img {
		position: relative;
		max-width: 50%;
		order: -1;
	}
	.welcome {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.description {
		flex-direction: column;
		align-items: center;
	}
	h4 {
		margin: 0;
	}
	h6 {
		text-align: center;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.react-logo,
	.node-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	width: 100%;
	max-width: 1200px;
	min-height: 100vh;
}

.App-link {
	color: #8cc84b;
	font-weight: 700;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
